* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2c1101;
}

body {
    background-color: #D9B68B;
}

/* Header */
header {
    max-width: 100%;
    display: flex;
    background-color: #732C02;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    margin: 0 0 0 20px;
    color: #D9B68B;
    font-family: "Italiana", sans-serif;
    font-size: 30px;
    text-decoration: solid;
}

header a img {
    width: 20px;
    margin: 0 20px 0 0;
}

/* Nav do menu */
.menu {
    width: 100%;
    background-color: #401801;
    padding: 10px 0;
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu ul li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #D9B68B;
    padding: 10px 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.menu ul li a:hover {
    background-color: #732C02;
}
/* Fim nav e Header*/

/* barra de busca */
.search-bar-container h1{
    padding: 10px 0 20px 0px;
    font-family: "italiana", sans-serif;
    font-size: 20px;
} 
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 50px;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.search-bar input {
    flex: 1; /* Ocupa o máximo de espaço */
    padding: 10px 15px;
    border: 1px solid #732C02; /* Borda destacada */
    border-radius: 5px 0 0 5px; /* Borda arredondada à esquerda */
    font-size: 16px;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #BF5B04;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0; /* Borda arredondada à direita */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #D9B68B;
}

.search-bar input:focus {
    outline: none;
    border-color: #BF5B04;
    box-shadow: 0 0 5px rgba(191, 91, 4, 0.5);
}
/* Fim da barra de busca */

/* Grid de Produtos */

.produtos{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 50px;
}

.produtos-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

.produto-item {
    display: inline-block;
    background-color: #D9CEC5;
    width: auto; /* Tamanho fixo do card */
    max-width: 250px;
    height: auto; /* Altura do card (ajuste conforme necessário) */
    /* border: 1px solid black; */
    border-radius: 20px;
    justify-content: center;
    overflow: hidden; /* Garante que nada saia do card */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.produto-item img{
    max-width: 100%;
}

.detalhes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 20px;
}

.produto-item p {
    padding: 10px 20px 0 20px;
}
.produto-item span{
    text-decoration: solid;
}

.detalhes-btn{
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #BF5B04;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.detalhes-btn:hover {
    background-color: #732C02; /* Muda a cor de fundo ao passar o mouse */
}

/* Footer */

.footer {
    background-color: #401801; /* Cor de fundo principal - Marrom Escuro */
    color: #D9CEC5; /* Cor do texto principal - Bege Suave */
    padding: 30px 0;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #D9B68B; /* Títulos em Bege Claro */
}

.footer-section p, .footer-section a {
    font-size: 1rem;
    color: #D9CEC5; /* Texto em Bege Suave */
    line-height: 1.6;
}

.footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    color: #D9B68B; /* Links em Bege Claro quando hover */
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-icon:hover {
    background-color: #D9B68B; /* Ícones sociais com fundo Bege Claro ao passar o mouse */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #732C02; /* Borda superior em Marrom Claro */
}

.footer-bottom p {
    font-size: 1rem;
    color: #D9CEC5; /* Texto no rodapé em Bege Suave */
}

@media (max-width: 768px) {
    /* Exibe o ícone do menu hambúrguer em dispositivos móveis */
    .menu-icon {
        display: block; /* Exibe o ícone */
        font-size: 30px;
        color: #D9B68B;
        cursor: pointer;
        position: absolute; /* Faz com que o ícone seja posicionado de forma absoluta */
        left: 10%; /* Move o ícone para o meio horizontal */
        transform: translateX(-50%); /* Ajusta o ícone para que ele fique exatamente no centro */
        z-index: 10; /* Garante que o ícone fique acima de outros elementos */
    }

    .menu {
        background-color: #401801;
        padding: 20px ;
        box-sizing: border-box;
        display: flex; /* Habilita flexbox */
        justify-content: space-between; /* Ajusta os itens para as extremidades */
        align-items: center; /* Alinha verticalmente ao centro */
        position: relative; /* Necessário para posicionamento absoluto do ícone de menu */
    }
    
    .search-bar-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Esconde o menu em dispositivos móveis por padrão */
    .menu ul {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #401801;
        padding: 20px;
    }

    .menu ul li {
        text-align: left;
        padding: 10px 20px;
    }

    /* Exibe o menu quando a classe 'active' for adicionada */
    .menu.active ul {
        display: flex;
    }

    .produtos{
        padding: 20px;
    }
    .produtos-grid {
        grid-template-columns: 1fr 1fr; /* Um produto por linha */
        gap: 15px;
    }

    .produtos-destaque {
        padding: 10px;
    }

    .footer-container {
        flex-direction: column; /* Organiza as seções em coluna */
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin: 20px 0;
        min-width: 100%;
    }
}

/* Para telas entre 768px e 1200px (Intermediário) */
@media (min-width: 768px) and (max-width: 1200px) {
    .carousel {
        max-width: 80%; /* Reduz a largura para telas intermediárias */
        padding: 15px;
    }

    .produtos-grid {
        grid-template-columns: 1fr 1fr 1fr; /* Dois produtos por linha */
        gap: 20px;
    }

    .date {
        padding: 30px;
    }

    .footer-container {
        flex-wrap: wrap; /* Permite quebra de linha se necessário */
        justify-content: center;
    }

    .footer-section {
        flex: 1 1 45%; /* Ocupa até 45% da largura disponível */
        text-align: center;
    }
}

