{% extends "default.html" %}

    {% block csseTitle %}
    <link rel="stylesheet" href="../static/css/cadastrarcartao.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- COLAR AQUI SE PRECISAR DE OUTRO CSS -->

    <title>Adicionar Cartão</title>
    {% endblock %}

    {% block content %}
    <!-- ESCREVER AQUI TODO O CONTEUDO DA PAGINA (NÃO É NECESSARIO COLOCAR HEADER OU FOOTER) -->
    <main class="container">
      <h2>Insira os dados do novo cartão</h2>
      <div class="bandeiras">
        <a href="##">
            <img src="../static/image/bandeiracartao1.png" alt="Bandeira 1" class="bandeira">
        </a>
        <a href="##">
            <img src="../static/image/bandeiracartao2.png" alt="Bandeira 2" class="bandeira">
        </a>
        <a href="##">
            <img src="../static/image/bandeiracartao3.png" alt="Bandeira 3" class="bandeira">
        </a>
        <a href="##">
            <img src="../static/image/bandeiracartao4.png" alt="Bandeira 4" class="bandeira">
        </a>
        </div>

        <section class="endereco">
            <br>
            <form>
               <p>Número do cartão:<input type="text" placeholder="xxxx xxxx xxxx xxxx"></p>
               <p>Validade:</p> <input type="text" placeholder="MM/AAAA">
               <p>CVV:</p> <input type="text" placeholder="xxx">
               <p>Nome:</p> <input type="text" placeholder="">
               <p>CPF:</p> <input type="text" placeholder="xxx.xxx.xxx-xx">
            </form>
        </section>

        <button id="finalize">Adicionar cartão</button>

        <div id="modal" class="modal">
            <div class="modal-content">
              <p>Cartão adicionado!</p>
              <a href="pagamento"><button id="pagamento-concluido">Voltar ao pagamento</button></a>
            </div>
          </div>
    </main>

    {% endblock %}

    {% block script %}
    <!-- LINKAR AQUI O SCRIPT QUE FOR UTILIZADO -->
     <script>
    // Seleciona os elementos do DOM
    const adicionarCarrinhoBtn = document.getElementById('finalize');
    const modal = document.getElementById('modal');
    const fecharModalBtn = document.getElementById('fechar-modal');

    // Exibe o modal ao clicar no botão "Adicionar ao Carrinho"
    adicionarCarrinhoBtn.addEventListener('click', () => {
      modal.style.display = 'flex';
    });

    // Fecha o modal ao clicar fora da área de conteúdo
    modal.addEventListener('click', (event) => {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    });
  </script>
  <script src="Script.js"></script>
    {% endblock %}
