{% extends "default.html" %}

    {% block csseTitle %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/carrinho.css">
    <title>Meu Carrinho</title>
    {% endblock %}

    {% block content %}

    <h1 id="title">Meu Carrinho</h1>

    <main>
        <!-- Lista de itens do carrinho -->
        <ul id="lista-carrinho">
            {% for produto in produtos %}
            <li>
                <div class="item">
                    <img src="{{ produto['imagem'] }}" alt="{{ produto['nome'] }}" class="item-imagem">
                    <div class="item-info">
                        <span class="item-nome">{{ produto['nome'] }}</span>
                        <span class="item-quantidade">Quantidade: {{ produto['carrinho'] }}</span>
                        <span class="item-preco">{{ produto['preco'] }}</span>
                    </div>
                    <button class="adicionar" data-product-id="{{ produto['id'] }}">Adicionar</button>
                    <button class="remover" data-product-id="{{ produto['id'] }}">Remover</button>
                </div>
            </li>
            {% endfor %}
            <!-- Itens serão carregados dinamicamente -->
        </ul>
        
         <div class="total-carrinho">
            <p id="total">
                {% set total = namespace(value=0) %}
                {% for produto in produtos %}
                    {% set preco_string = produto['preco'] %}
                    {% set preco_limpo = preco_string|replace('R$ ', '')|replace(',', '.') %}
                    {% set preco_float = preco_limpo|float %}
                    {% set quantidade = produto['carrinho']|int %}
                    {% set total.value = total.value + (preco_float * quantidade) %}
                {% endfor %}

                Total: R$ {{ total.value|round(2) }}
                
            </p>


            <p id="total-itens">
                {% set contagem = namespace(value=0) %}

                {% for produto in produtos %}
                    {% set contagem.value = contagem.value + (1 * produto['carrinho']) %}
                {% endfor %}

                Total de Itens : {{ contagem.value }}
            </p>
        </div>
        <!-- Ações -->
        <div class="acoes">
            <a href="pagamento"><button id="comprar">Confirmar Compra</button></a>
            
        </div>
    </main>
    {% endblock %}

    {% block script %}
    <script src="../static/js/Carrinho2.js"></script>
    {% endblock %}
