{% extends "default.html" %} 
    
    {% block csseTitle %}
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Brunch House</title>
    {% endblock %}

    {% block content %}
    <!-- Carousel Principal -->
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-image">
                <img src="../static/image/main-banner.png" alt="Banner 1" class="carousel-slide active">
                <img src="../static/image/image-banner.png" alt="Banner 2" class="carousel-slide">
                <img src="../static/image/image-banner.png" alt="Banner 3" class="carousel-slide">
            </div>
            <div class="carousel-indicators">
                <span class="indicator active"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
            </div>
        </div>
    </section>
    
    

    <!-- Produtos em Destaque -->
    <section id="produtos-destaque" class="produtos-destaque">
        <h2>PRODUTOS EM DESTAQUE</h2>
        <div class="produtos-grid">
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Amor em Cada Mordida</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta Bom Dia Clássico</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>

            <!-- Mais produtos aqui -->
        </div>
    </section>

    <!-- Produtos por Datas Comemorativas -->
     <section id="produtos-especiais" class="date">
        <h2>PRODUTOS POR DATAS COMEMORATIVAS</h2>
        <div class="produtos-grid">
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta de Páscoa – “Doce Renascimento”</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta de Dia das Mães – “Carinho em Cada Detalhe”</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta de Namorados – “Amor e Sabores”</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta de Festa Junina – “Arraiá de Sabores”</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Cesta de Natal – “Magia e Encanto”</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos.html" class="detalhes-btn">Detalhes</a>
                </div>
            </div>

            </div>
        

            <!-- Mais produtos aqui -->
        </div>
        
     </section>

    {% endblock %}

    {% block script %}
    <script src="../static/js/Script.js"></script>
    {% endblock %}