{% extends "default.html" %} 
    
    {% block csseTitle %}
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Brunch House</title>
    {% endblock %}

    {% block content %}
    <!-- Carousel Principal -->
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-image">
                <img src="../static/image/main-banner.png" alt="Banner 1" class="carousel-slide active">
                <img src="../static/image/image-banner.png" alt="Banner 2" class="carousel-slide">
                <img src="../static/image/image-banner.png" alt="Banner 3" class="carousel-slide">
            </div>
            <div class="carousel-indicators">
                <span class="indicator active"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
            </div>
        </div>
    </section>
    
    

    <!-- Produtos em Destaque -->
    <section id="produtos-destaque" class="produtos-destaque">
        <h2>PRODUTOS EM DESTAQUE</h2>
        <div class="produtos-grid">

            {% for produto in produtoDestaque %}
            <div class="produto-item">
                <img src="{{ produto['imagem'] }}" alt="produto['nome']">
                <p class="small-description">{{ produto['nome'] }}</p>
                <div class="detalhes">
                    <span class="preco">{{ produto['preco'] }}</span>
                    <a href="detalhes-produtos/{{ produto['id'] }}" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Produtos por Datas Comemorativas -->
     <section id="produtos-especiais" class="date">
        <h2>PRODUTOS POR DATAS COMEMORATIVAS</h2>
        <div class="produtos-grid">
            {% for produto in produtoData %}
            <div class="produto-item">
                <img src="{{ produto['imagem'] }}" alt="produto['nome']">
                <p class="small-description">{{ produto['nome'] }}</p>
                <div class="detalhes">
                    <span class="preco">{{ produto['preco'] }}</span>
                    <a href="detalhes-produtos/{{ produto['id'] }}" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
     </section>
    {% endblock %}

    {% block script %}
    <script src="../static/js/Script.js"></script>
    {% endblock %}