{% extends "default.html" %}

    {% block csseTitle %}
    <title>Brunch House</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/produtos.css">
    {% endblock %}

    {% block content %}
    <section class="search-bar-container">
        <h1 id="title">PRODUTOS</h1>
        <form class="search-bar" action="/buscar" method="GET">
            <input 
                type="text" 
                name="q" 
                placeholder="Busque por produtos, categorias..."
                aria-label="Buscar"
                required>
            <button type="submit">Buscar</button>
        </form>
    </section>

    <section class="produtos">
        <div class="produtos-grid">
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="detalhes-produtos" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>
            <div class="produto-item">
                <img src="../static/image/download (1).jpeg" alt="">
                <p class="small-description">Lorem Ipsum2</p>
                <div class="detalhes">
                    <span class="preco">R$200</span>
                    <a href="" class="detalhes-btn">Detalhes</a>
                </div>
            </div>

            <!-- Mais produtos aqui -->
        </div>
    </section>
</section>
    {% endblock %}
     
    {% block script %}
    <script src="../static/js/Script.js"></script>
    {% endblock %}